<div class="row">
  <div class="col-6">
    <div class="card">
      <custom-data-visual [dataToVisualize]="data.nurData" [chartHeight]="270" chartId="detailsNur" chartType="bar"
                          [chartOption]="options"
                          [toolbarConfig]="{display: true, showList: true, showExcel: false, showPdf: false, showModal: true, showRawExcel: true}"></custom-data-visual>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
<!--      <custom-data-visual [dataToVisualize]="injection1"></custom-data-visual>-->
    </div>
  </div>
</div>
